<div class="card border-primary mb-3">
    <div class="card-header">
        <h5>🧑‍🏫 Sign up for a lesson</h5>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column" style="gap: 1rem">
            <h5>Select lesson duration:</h5>

            <div class="d-flex align-self-center" style="gap: 1rem">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#record-small"
                        aria-expanded="false" aria-controls="record-small">
                    30 min
                </button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#record-medium"
                        aria-expanded="false" aria-controls="record-medium">
                    60 min
                </button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#record-large"
                        aria-expanded="false" aria-controls="record-large">
                    90 min
                </button>
            </div>
            <div class="collapse" id="record-small">
                <div class="card card-body">
                    <div id="SiteWidgetMoyklass91295"></div>
                    <script src="https://app.moyklass.com/api/site/widget/?id=01qPiLg5K0eY7hcxwjLVVrrMEhFX8sI7oa4L" type="text/javascript" charset="UTF-8"></script>
                </div>
            </div>
            <div class="collapse" id="record-medium">
                <div class="card card-body">
                    <div id="SiteWidgetMoyklass57194"></div>
                    <script src="https://app.moyklass.com/api/site/widget/?id=JXNIx9LGLQUoO8p8BAsEnXsUvx8nBiLfYy" type="text/javascript" charset="UTF-8"></script>
                </div>
            </div>

            <div class="collapse" id="record-large">
                <div class="card card-body">
                    <div id="SiteWidgetMoyklass57363"></div>
                    <script src="https://app.moyklass.com/api/site/widget/?id=KFeZuOsnUCaLuI9hd3NRkzD1IP8nUTXBXw" type="text/javascript" charset="UTF-8"></script>
                </div>
            </div>

        </div>
    </div>
</div>